/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

#search-container {
    text-align: center;
    margin-top: 20px;
}

#search {
    padding: 10px;
    width: 250px;
    font-size: 16px;
}

#search-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    margin-left: 10px;
}

#search-btn:hover {
    background-color: #45a049;
}

#movies-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 20px;
}

.movie {
    position: relative;
    border: 2px solid #ccc;
    padding: 10px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.movie:hover {
    transform: scale(1.05);
}

.movie img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.movie-title {
    margin-top: 10px;
    font-size: 18px;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 60px;
}

.modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    width: 70%;
    max-width: 600px;
}

#modal-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* Estilos para cerrar el modal */
.close-btn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 40px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}
